@page "/"

<PageTitle>Index</PageTitle>

<h1>Задание</h1>
В дефолтном Blazor проекте создать страницу Wallets. На странице будет отображаться список счетов (Id, Address, Balance)
в виде таблицы с сортировкой по балансу.

<h3>Условия</h3>
Использовать Netehereum.Web3 для общения с нодой Страница должна работать быстро

<h3>Бонус</h3>
Вынести общение с нодой в отдельное апи приложение.

<h3>Инструменты</h3>
<ol>
    <li>Библиотека Netehereum</li>
    <li>ETH testnet Sepolia (рекомендуем к использованию https://www.alchemy.com/ и https://www.infura.io/ )</li>
    <li>База данных (прилагается файл wallets.sql)</li>
</ol>
